.pos-top-bar-div {
  height: 89px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.pos-div {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: gray;
  background-repeat: no-repeat;
}

.pos-top-bar-left-text {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #ff0000;
  margin-left: 22px;
}

.pos-top-bar-right-text {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #4a4a4a;
  margin-right: 33px;
}

.pos-bottom-bar-div {
  display: flex;
  height: 100%;
  padding-top: 17px;
}

.pos-botton-bar-left-div {
  width: 65%;
  float: left;
  height: 100%;
  padding-left: 16px;
  padding-bottom: 14px;
}
.pos-botton-bar-right-div {
  width: 35%;
  float: right;
  height: 100%;
}

.pos-bottom-bar-ul-image {
  width: 100%;
  display: inline-block;
}

.pos-bottom-bar-image {
  width: 1165px;
  height: 887px;
  margin-left: 16px;
  margin-bottom: 14px;
}

.pos-bottom-bar-price {
  background-color: white;
  width: 100%;
  height: 77px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 20px;
}

.pos-bottom-bar-order {
  margin-top: 17px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 20px;
}

.pos-bottom-bar {
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 20px;
}

.pos-bottom-bar-right-text {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #4a4a4a;
  padding-top: 15px;
  padding-left: 31px;
}

.pos-bottom-bar-right-text-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #00bc3a;
  padding-left: 320px;
}

.pos-bottom-bar-right-order-text-title {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ff0000;
  margin-left: 32px;
}

.pos-bottom-bar-right-order-text {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  color: #4a4a4a;
  margin-left: 32px;
}

.pos-bottom-bar-right-order-count-text {
  position: absolute;
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #4a4a4a;
  margin-left: 350px;
}

.pos-bottom-bar-right-order-price-text {
  position: absolute;
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #4a4a4a;
  margin-left: 520px;
}

.pos-div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pos-bottom-bar-right-order-menudetail-text {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #4a4a4a;
  margin-left: 62px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pos-bottom-line {
  margin-top: 100px;
  border: 1px solid #ff0000;
  width: 90%;
  margin-left: 32px;
}

.pos-bottom-sum-text {
  margin-left: 32px;
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
}

.pos-bottom-sum-text-tax {
  margin-left: 32px;
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  padding-bottom: 15px;
}

.pos-bottom-sum-price-text {
  position: absolute;
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-left: 520px;
}
